@charset "UTF-8";

body{
	background-image: url("../Images/background.jpg");
		
}
.title{
  text-align: center;
font-family: "arial black";
	color: white;
	text-shadow: 6px 5px #FF070B;
	font-size: 80px;
}

.bg-color{
	background-color: #F9BFC0;

}

.bg-nav{
	background-color: #FADADA;
}

.body-text{
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 300;
	color: black;
	padding-top: 15px;
	padding-bottom: 20px;
}

.white-bg{
	background-color: white;
}

.center{
display: block;
margin-left: auto;
margin-right: auto;
}

.quotes{
	text-align: center;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 300;
}
.bold{
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-weight: bold;

	
}

.photo-padding{
	padding-top: 20px;

}

.col-padding{
	padding-top: 20px;
	padding-bottom: 20px;
}

.small{
	font-size: 15px;
	font-style: italic;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.white-text{
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	text-align: center;
}

.sbl-title{
  text-align: center;
font-family: "arial black";
	color: white;
	text-shadow: 6px 5px #FF070B;
	font-size: 80px;
}

.hp  {
float: right;    
 margin: 0 0 0 15px;
}